*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #587052;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #03363d;
  border-bottom: 1px solid #03363d;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid--3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  background-color: #ece0ce;
  padding: 1rem 3rem;
  text-decoration: none;
  font-weight: 900;
  color: #03363d;
}

.btn {
  padding: 1rem 3rem;
  border: none;
  color: #17494d;
  background-color: #f8f9f9;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  margin-left: 2rem;
}

.button-hero-contact {
  margin-right: 3rem;
  border: 3px solid #ece0ce;
}

.button-hero-app {
  background-color: #587052;
  border: 3px solid #ffffff;
  color: #ffffff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 80rem;
  gap: 2rem;
  margin-top: 3rem;
  font-size: 1.2rem;
  padding: 1rem 8rem;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 4rem;
}

.header__item {
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
}

.header__link:link, .header__link:visited {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
}

.header__link::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__link:hover::before {
  left: 0;
}

.header__link:hover::after {
  right: 0;
}

.header__animation::before {
  content: "";
  position: absolute;
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__link:hover .header__animation::before {
  top: 0;
}

.header__animation::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__link:hover .header__animation::after {
  bottom: 0;
}

.hero {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  letter-spacing: 2px;
  max-width: 100vw;
  padding: 2rem 8rem;
}

.hero__tittle {
  border-bottom: 1px solid white;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

.hero__header {
  font-size: 4rem;
  letter-spacing: 4px;
  font-weight: 900;
}

.hero__paragraph {
  font-size: 2rem;
}

.hero__image {
  max-width: 100%;
  height: auto;
}

.hero__image-container {
  min-width: 40%;
}

.feature {
  background-color: #ffffff;
  max-width: 100vw;
  padding: 15rem 8rem;
}

.feature__subtittle {
  color: #03363d;
  text-align: center;
  text-transform: uppercase;
}

.feature__tittle {
  color: #03363d;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 6rem;
  margin-top: 1rem;
}

.feature__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.feature__logo {
  font-size: 8rem;
  color: #03363d;
}

.feature__heading {
  color: #03363d;
}

.feature__text {
  text-align: center;
  color: #03363d;
  line-height: 1.7;
}

.work {
  height: 90vh;
  max-width: 100%;
  background-image: url("photo2.jpg");
  background-size: cover;
  position: relative;
}

.work__container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #03363d;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.work__header {
  font-size: 3rem;
}

.work__paragraph {
  line-height: 1.7;
}

.work__link {
  margin-top: 2rem;
}

.operations {
  background-color: #f8f9f9;
  padding: 5rem 10rem;
  line-height: 1.6;
  height: 80vh;
}

.operations__tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4rem;
  background-color: #f8f9f9;
}

.operations__content {
  display: none;
  padding: 5rem;
  text-align: center;
}

.operations__content--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-animation: 1s fadein;
          animation: 1s fadein;
}

.operations__header {
  color: #03363d;
  font-size: 3rem;
  text-transform: uppercase;
}

.operations__text {
  color: #03363d;
}

.operations__tab {
  margin-right: 2.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.operations__tab--active {
  -webkit-transform: translateY(-66%);
          transform: translateY(-66%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #587052;
  color: #ffffff;
}

.operations__tab--active span {
  color: #03363d;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.circle {
  margin-right: 1rem;
}

.circle::before {
  content: "";
  position: absolute;
  background-color: #26f006;
  top: 7px;
  left: 23px;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  z-index: -1;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  background-color: #ffffff;
  padding: 5rem 3rem;
  color: #03363d;
}

.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  gap: 2rem;
}

.service__header {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.service__subtittle {
  border-bottom: 2px solid #03363d;
  padding: 1rem 0;
}

.service__btn {
  display: inline-block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin-top: 5rem;
  padding: 1rem 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-bottom: none;
  background-color: #26f006;
  color: #ffffff;
  font-weight: 700;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.6rem;
}

.service__btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.logo {
  width: 100%;
  height: auto;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[8];
      grid-template-rows: repeat(8, 5vw);
  grid-gap: 1rem;
}

.gallery__item--1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / 6;
}

.gallery__item--4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
}

.gallery__item--5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
}

.gallery__item--6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
}

.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  background-color: #f8f9f9;
  color: #03363d;
  padding: 6rem 2rem;
}

.contact__box {
  font-size: 1.3rem;
}

.contact__header {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact__subheading {
  margin-bottom: 5rem;
}

.contact__info {
  padding-right: 3rem;
}

.contact__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

.contact__icon {
  font-size: 3rem;
  color: #26f006;
}

.contact__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact__fieldset {
  display: inline-block;
  border: none;
  background-color: red;
}

.contact__fieldset input {
  padding: 2rem;
  text-align: left;
  background-color: yellow;
  border: none;
}

.tescik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */