// setup
$green-light: #587052;
$green-dark: #17494d;
$green-darrkest: #03363d;
$white-light: #ffffff;
$white-dark: #f8f9f9;
$beige-normal: #ece0ce;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  background-color: $green-light;
  color: $white-light;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: $green-darrkest;
  border-bottom: 1px solid $green-darrkest;
}

.grid {
  display: grid;

  &-3 {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
  }
}

.button {
  box-sizing: border-box;
  display: inline-block;
  background-color: $beige-normal;
  padding: 1rem 3rem;
  text-decoration: none;
  font-weight: 900;
  color: $green-darrkest;
}

.button-hero-contact {
  margin-right: 3rem;
  border: 3px solid $beige-normal;
}
.button-hero-app {
  background-color: $green-light;
  border: 3px solid $white-light;
  color: $white-light;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15rem;
  margin-top: 3rem;
  font-size: 1.8rem;
  max-width: 100vw;
  padding: 1rem 8rem;

  &__list {
    display: flex;
    list-style: none;
    gap: 4rem;
  }
  &__item {
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $white-light;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__link::before {
    content: "";
    position: absolute;
    background-color: $white-light;
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    transition: all 0.7s;
  }

  &__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background-color: $white-light;
    transition: all 0.5s;
  }

  &__link:hover::before {
    left: 0;
  }
  &__link:hover::after {
    right: 0;
  }

  &__animation::before {
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: $white-light;
    transition: all 0.5s;
  }

  &__link:hover &__animation::before {
    top: 0;
  }
  &__animation::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: $white-light;
    transition: all 0.5s;
  }

  &__link:hover &__animation::after {
    bottom: 0;
  }
}

.hero {
  margin-top: 8rem;
  display: flex;
  gap: 2rem;
  letter-spacing: 2px;
  max-width: 100vw;
  padding: 2rem 8rem;

  &__tittle {
    border-bottom: 1px solid white;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
  }

  &__header {
    font-size: 7rem;
    letter-spacing: 4px;
    font-weight: 900;
  }

  &__paragraph {
    font-size: 2rem;
  }

  &__image {
    min-width: 100%;
  }
}

.feature {
  background-color: $white-light;
  max-width: 100vw;
  padding: 15rem 8rem;

  &__subtittle {
    color: $green-darrkest;
    text-align: center;
    text-transform: uppercase;
  }
  &__tittle {
    color: $green-darrkest;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 6rem;
    margin-top: 1rem;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }

  &__logo {
    font-size: 8rem;
    color: $green-darrkest;
  }

  &__heading {
    color: $green-darrkest;
  }

  &__text {
    text-align: center;
    color: $green-darrkest;
    line-height: 1.7;
  }
}

.work {
  height: 80vh;
  max-width: 100%;
  background-image: url("photo2.jpg");
  background-size: cover;
  position: relative;
  &__container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-light;
    color: $green-darrkest;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
  }

  &__header {
    font-size: 3rem;
  }
  &__paragraph {
    line-height: 1.7;
  }
  &__link {
    margin-top: 2rem;
  }
}

.operations__tab-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.operations__content {
  display: none;
  &--active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: 1.5s fadein;
  }
}

.operations__header {
  color: red;
  font-size: 3rem;
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}
//buttons lower
.operations__tab--active {
  transform: translateY(-66%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
