$green-light: #587052;
$green-dark: #17494d;
$green-darrkest: #03363d;
$white-light: #ffffff;
$white-dark: #f8f9f9;
$beige-normal: #ece0ce;

body {
  background-color: $green-light;
  color: white;
}
