*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #587052;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #03363d;
  border-bottom: 1px solid #03363d;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  background-color: #ece0ce;
  padding: 1rem 3rem;
  text-decoration: none;
  font-weight: 900;
  color: #03363d;
}

.button-hero-contact {
  margin-right: 3rem;
  border: 3px solid #ece0ce;
}

.button-hero-app {
  background-color: #587052;
  border: 3px solid #ffffff;
  color: #ffffff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15rem;
  margin-top: 3rem;
  font-size: 1.8rem;
  max-width: 100vw;
  padding: 1rem 8rem;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 4rem;
}

.header__item {
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
}

.header__link:link, .header__link:visited {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
}

.header__link::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__link:hover::before {
  left: 0;
}

.header__link:hover::after {
  right: 0;
}

.header__animation::before {
  content: "";
  position: absolute;
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__link:hover .header__animation::before {
  top: 0;
}

.header__animation::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__link:hover .header__animation::after {
  bottom: 0;
}

.hero {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  letter-spacing: 2px;
  max-width: 100vw;
  padding: 2rem 8rem;
}

.hero__tittle {
  border-bottom: 1px solid white;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

.hero__header {
  font-size: 7rem;
  letter-spacing: 4px;
  font-weight: 900;
}

.hero__paragraph {
  font-size: 2rem;
}

.hero__image {
  min-width: 100%;
}

.feature {
  background-color: #ffffff;
  max-width: 100vw;
  padding: 15rem 8rem;
}

.feature__subtittle {
  color: #03363d;
  text-align: center;
  text-transform: uppercase;
}

.feature__tittle {
  color: #03363d;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 6rem;
  margin-top: 1rem;
}

.feature__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.feature__logo {
  font-size: 8rem;
  color: #03363d;
}

.feature__heading {
  color: #03363d;
}

.feature__text {
  text-align: center;
  color: #03363d;
  line-height: 1.7;
}
/*# sourceMappingURL=main.css.map */